.add_playlist_label:hover{
    -fx-background-radius: 15;
    -fx-background-color: GAINSBORO;
    -fx-border-radius: 15;
    -fx-border-color: SILVER;
}

.song_library_label:hover{
    -fx-background-color: GAINSBORO;
    -fx-border-color: SILVER;
}

.text-field{
    -fx-background-radius: 15;
}

.playlist_cell{
    -fx-font-size: 12;
}

.context-menu{
    -fx-font-size: 12;
}

.standard-text-field{
    -fx-background-radius: 0;
}

.anchor_pane{
    -fx-background-image: url(../Icons/prism.png);
    -fx-background-repeat: repeat;
    -fx-background-color: BLACK;
}

.standard_label{
    -fx-font-size: 14;
}

.music_player_text .text{
    -fx-stroke: black;
    -fx-stroke-width: 1;
}